
.img {
    margin-top: 2%;
    margin-left: 35%;
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}
.img-olymp {
    margin-right: 7%;
    height: 10%;
    width: 10%;
    
}
.img-gerb {
    width: 4%;
    height: 10%;
    margin-right: 7%;

}
.text-1 {
    font-size:220%;
    vertical-align: middle;
}
.box-1 {
    background-color: white;
    border-radius: 3%;
    padding: 50px;
}
.button-1 {
    float:right;
}
#div-1 {
    display:none;
}
#playpen { 
    background-color: grey;
    height: 3000px; 
    line-height: 100%;
}
#highlight2 {

    /*background-color: yellow;*/

    background-image: url("../img/background.jpg");
 
    
}
#highlight {
    position: fixed;
    pointer-events: none;
    background-color: yellow;
    opacity: 0.5;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#list1 {
    margin-left: 10%;
}
.body-2 {
    background-color: grey;
}