#playpen { background: rgb(155,155,155); text-align: center; height: 3000px; line-height: 100%; }
#highlight2 {
    position: fixed;
    pointer-events: none;
    /*background-color: yellow;*/

    background-image: url("../img/background.jpg");
    opacity: 0.5;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
#highlight {
    position: fixed;
    pointer-events: none;
    background-color: yellow;
    opacity: 0.5;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    z-index: 9999;
}